* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

#top_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bot_header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}