@font-face {
    font-family: Chunkotf;
    src: url(./assets/fonts/Chunk.otf);
}

@font-face {
    font-family: Chunkttf;
    src: url(./assets/fonts/Chunk.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

/* Header */

header {
    border-top: 5px solid #e36060;
}

#top_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 10px auto;
}

#header_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_title button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: none;
    background-color: #EBEBEB;
    padding: 5px 10px;
    width: 85px;
    border-radius: 2px;
}

#header_title button:hover {
    background-color: #cdc9c9;
    cursor: pointer;
}

#header_title h1 {
    color: #c65252;
    margin: 0px 10px;
    font-family: Chunkotf;
}

#header_subscribe {
    background-color: #FED831;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#header_subscribe:hover {
    background-color: #e0bf2a;
    cursor: pointer;
}

#bot_header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bot_header li {
    background-color: #c65252;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#bot_header li:hover {
    background-color: #c65252;
    cursor: pointer;
}

/* Articles */

#articles {
    max-width: 1300px;
    margin: auto;
}

#articles h2 {
    color: #c65252;
    font-family: Chunkotf;
    margin-top: 30px;
}

#articles ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EBEBEB;
    margin: 10px 0px;
}

.image_container {
    max-width: 50%;
    height: auto;
    margin-right: 10px;
}

.menu {
    display: flex;
    background-color: white;
    border: 1px solid #cdc9c9;
    border-radius: 3px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.menu:hover {
    background-color: #fae68d;
    cursor: pointer;
}

.menu_description {
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
}

.menu_description h3 {
    font-size: 17px;
}

#articles li {
    max-width: 25%;
}